/* global */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background-image: url(../images/template/body.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.25;
  background-color: rgba(86, 108, 174, 0.125);
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1rem auto;
  color: #504336;
  background-color: rgba(248, 248, 255, 0.2);
  border-radius: 10px;
  font-style: oblique;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  color: #504336;
}

@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}

.top-bar, .title-bar, .title-bar .top-bar-right ul, .title-bar .top-bar-left ul, .top-bar .top-bar-left ul, .top-bar .top-bar-right ul {
  background-color: #4B7C6A;
}
.top-bar .top-bar-right ul li a, footer .menu li .top-bar .top-bar-right ul a a, .top-bar .top-bar-right ul footer .inline-list a a, footer .inline-list .top-bar .top-bar-right ul a a, .title-bar .top-bar-right ul li a, footer .menu li .title-bar .top-bar-right ul a a, .title-bar .top-bar-right ul footer .inline-list a a, footer .inline-list .title-bar .top-bar-right ul a a {
  color: #f8f8ff;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, footer .menu li .top-bar .top-bar-right ul a a:hover, .top-bar .top-bar-right ul footer .inline-list a a:hover, footer .inline-list .top-bar .top-bar-right ul a a:hover, .title-bar .top-bar-right ul li a:hover, footer .menu li .title-bar .top-bar-right ul a a:hover, .title-bar .top-bar-right ul footer .inline-list a a:hover, footer .inline-list .title-bar .top-bar-right ul a a:hover, .top-bar .top-bar-right ul li a:focus, footer .menu li .top-bar .top-bar-right ul a a:focus, .top-bar .top-bar-right ul footer .inline-list a a:focus, footer .inline-list .top-bar .top-bar-right ul a a:focus, .title-bar .top-bar-right ul li a:focus, footer .menu li .title-bar .top-bar-right ul a a:focus, .title-bar .top-bar-right ul footer .inline-list a a:focus, footer .inline-list .title-bar .top-bar-right ul a a:focus {
  color: #e1ca6f;
}
.top-bar .top-bar-left ul li, .top-bar .top-bar-left ul footer .menu li a, footer .menu li .top-bar .top-bar-left ul a, .top-bar .top-bar-left ul footer .inline-list a, footer .inline-list .top-bar .top-bar-left ul a, .title-bar .top-bar-left ul li, .title-bar .top-bar-left ul footer .menu li a, footer .menu li .title-bar .top-bar-left ul a, .title-bar .top-bar-left ul footer .inline-list a, footer .inline-list .title-bar .top-bar-left ul a {
  margin: 0;
  padding: 0;
}

.title-bar .title-bar-title, .title-bar .menu-icon {
  color: #f8f8ff;
}
#logo {
  background-image: url(../images/template/logo.svg);
  display: inline-block;
  height: 100px;
  width: 235px;
  background-repeat: no-repeat;
}

footer {
  padding-top: 15px;
  background-color: #566CAE;
}
footer .menu li, footer .menu li a, footer .menu .inline-list a, footer .inline-list .menu a, footer .inline-list {
  color: #f8f8ff;
}
footer .menu li a, footer .menu .inline-list a a, footer .inline-list .menu a a, footer .inline-list a {
  padding: 0.5rem;
}
footer .menu li a:hover, footer .menu li a:focus, footer .inline-list a:hover, footer .inline-list a:focus {
  color: #e1ca6f;
}

/*# sourceMappingURL=about.css.map */
