/* template */
.tabs-content .menu a {
  color: #4E7F3D;
}
.tabs-content .menu a:hover, .tabs-content .menu a:focus {
  color: #566CAE;
}

body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background-image: url(../images/template/body.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.5;
  background-color: rgba(86, 108, 174, 0.125);
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1rem auto;
  color: #504336;
  font-style: oblique;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  color: #504336;
}

@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}
main i {
  color: #2b241d;
}

.top-bar, .top-bar .top-bar-left ul, .top-bar .top-bar-right ul {
  background-color: #4B7C6A;
}
.top-bar .top-bar-right ul li a {
  color: #f8f8ff;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, .top-bar .top-bar-right ul li a:focus {
  color: #e1ca6f;
}
.top-bar .top-bar-left ul li {
  margin: 0;
  padding: 0;
}

.title-bar {
  background-color: #4B7C6A;
}
.title-bar .title-bar-title,
.title-bar .menu-icon {
  color: #f8f8ff;
}

#logo {
  background-image: url(../images/template/logo.svg);
  display: inline-block;
  height: 100px;
  width: 235px;
  background-repeat: no-repeat;
}

footer {
  padding-top: 15px;
  background-color: #566CAE;
}
footer .menu li {
  color: #f8f8ff;
}
footer .menu li a {
  color: #f8f8ff;
  padding: 0.5rem;
}
footer .menu li a:hover, footer .menu li a:focus {
  color: #e1ca6f;
}
footer .inline-list {
  color: #f8f8ff;
}

/* gallery */
#fixed-img {
  background-image: url("../images/gallery/fixed-m.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
@media screen and (min-width: 40em) {
  #fixed-img {
    background-image: url("../images/gallery/fixed.png");
    background-size: cover;
  }
}
#fixed-img h2 {
  background-color: #f8f8ff;
  width: fit-content;
  height: fit-content;
  padding: 0 1rem;
  margin: 1rem auto 180px auto;
}
@media screen and (min-width: 40em) {
  #fixed-img h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 650px auto auto auto;
  }
}
#fixed-img .menu {
  height: fit-content;
}
#fixed-img .menu a {
  background-color: #f8f8ff;
  margin: 0;
  padding: 0.2rem 0.5rem;
}
#fixed-img .menu a h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
}
@media screen and (min-width: 40em) {
  #fixed-img .menu li:nth-child(1) a {
    border-top-left-radius: 5px;
  }
}
@media screen and (min-width: 40em) {
  #fixed-img .menu li:nth-child(5) a {
    border-top-right-radius: 5px;
  }
}
#fixed-img .tabs-title > a[aria-selected=true] {
  background-color: #2b241d;
}
#fixed-img .tabs-title > a[aria-selected=true] h3 {
  color: #f8f8ff;
}

.tabs-content {
  background-color: transparent;
  border: none;
}
.tabs-content .menu {
  margin: 0;
  padding: 0;
}
.tabs-content .menu a {
  margin: 0;
  padding: 0.5rem 0.4rem;
}
.tabs-content .menu ~ p {
  margin: 0;
  padding: 0;
}
.tabs-content h4 {
  color: #2b241d;
  margin: 0;
  padding: 0;
}
.tabs-content h4 i {
  font-size: smaller;
  color: #4B7C6A;
}
.tabs-content h4 i:hover, .tabs-content h4 i:focus {
  color: #e1ca6f;
}
.tabs-content h5.subheader {
  color: #6b6b6b;
}

.gallery {
  margin: 1.5% 0;
  padding: 5%;
}
.gallery div {
  background-image: url("https://via.placeholder.com/500x500");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 33.37% 0;
}

/*# sourceMappingURL=gallery.css.map */
