@import "variables";
@import "template/styles";

#stick-1 {
    @include medium_and_up() {
        @include box(null, 0 1rem 0 0 );
    }
}

#stick-2  {
    @include medium_and_up() {
        @include box(null, 0 0 0 1rem);
    }
}
.card {
    background-color: $transparent;
    .card-divider {
        background-color: rgba($color6, 0.1);
        font-size: larger;
        color: $color5;
    }
    img {
        @include setbox(100%, null, null, auto);

        @include medium_and_up() {
            @include setbox(64.838%, null, null, 1.5rem auto auto auto);
        }
    }
    h3 {
        font-size: 19.2px;
    }
}
