@import "variables";
/* gallery */

#fixed-img {
  background-image: url("../images/gallery/fixed-m.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  border-bottom: 1px solid $white;
  @include large_and_up {
    background-image: url("../images/gallery/fixed.png");
    background-size: cover;
    background-attachment: fixed;
  }
  h2 {
    @include setbox(fit-content, fit-content, 0 1rem, 1rem auto 250px auto);
    @include medium_and_up {
      background-color: $white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      @include setbox(null, null, null, 333px auto auto auto);
    }
    @include large_and_up {   
      @include setbox(null, null, null, 75vh auto auto auto);
    }
  }
  .menu {
    @include setbox(null, fit-content, null, null);
    a {
      background-color: $white;
      outline: none;
      @include box(0, 0.2rem 0.5rem);
      h3 {
        @include box();
        font-size: 16px;
        @include medium_and_up {
          font-size: 21.5px;
        }
      }
    }
    li:nth-child(1) a {
      border-top-left-radius: 5px;
    }
    li:nth-child(5) a {
      border-top-right-radius: 5px;
    }
  }
  .tabs-title > a[aria-selected="true"] {
    background-color: $color1;
    h3 {
      color: $white;
    }
  }
}

.tabs-content {
  background-color: $transparent;
  border: none;
  @include box();
  .menu {
    a {
      @include box();
      @extend %link;
    }
  }
  h4 {
    color: $color1;
    @include box();
  }
  .gallery {
    @include box(1.5% 0, 5%);
  }
  @include large_and_up {
    .is-active {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: calc(83.34% - 1rem);
        bottom: 0;
        left: 0;
        background-color: rgba($color3, 0.125);
        border-right: 1px solid $white;
      }
    }
  }
  .top-link {
    position: sticky;
    top: 0;
    i {
      font-size: medium;
      color: $color4;
      &:hover,
      &:focus {
        color: $color3;
      }
    }
  }
}
