@import "variables";

#orbit-heading {
    @include medium_and_up() {
        @include setbox(95.5%, null, null, 50px auto 1rem auto);
    }
    @include large_and_up() {
        @include setbox(65.5%, null, null, 50px auto 1rem auto);
    }
  
}

.orbit {
    max-width: 1200px;
    @include setbox(null, null, null, auto auto 1rem auto);
    .orbit-container img {
        max-height: 700px;
    }
    @include medium_and_up() {
        @include setbox(null, null, null, auto auto 50px auto);
    }
}

.media-object {
    @include medium_and_up() {
        @include setbox(null, null, null, auto auto 50px auto);
    }
    .media-object-section:nth-child(2) img {
        @include setbox(96%, null, null, null);
        border-radius: 10px;
        @include medium_and_up() {
            @include setbox(100%, null, null, null);
        }
    }
    .media-object-section {
        @include setbox(null, null, 0, null);
        @include medium_and_up() {
            &:nth-child(1) {
                @include setbox(null, null, 2%, 2%);
            }
            &:nth-child(2) {
                @include setbox(null, null, 3%, null);
            }
        }
    }
}

.p-left,
.p-right {
    p {
        @include medium_and_up {
            @include setbox(null, null, 0 1rem 3rem 1rem, 0);
        }
    }
    h4 {
        @include medium_and_up {
            @include setbox(null, null, 2rem 1rem 0 1rem, null);
        }
    }
}

@import "template/styles";
