@mixin box( $a: 0, $b: 0) {
    margin: $a;
    padding: $b;
}

@mixin setbox($width, $height, $padding, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@function darkShift($color) {
    @if (lightness($color) > 25%) {
        @return darken($color, 12%);
    } @else {
        @return lighten($color, 12%);
    }
}
