footer {
    padding-top: 15px;
    background-color: $color2;
    .menu li, .inline-list {
        color: $white;
        a {
            color: $white;
            @include box(null, 0.5rem);
            &:hover,
            &:focus {
                color: $color3;
            }
        }
    }
}
