footer {
    padding-top: 15px;
    background-image: url(../images/template/nav.jpg);
    color: $color1;
    .menu li a {
        color: $color1;
        @include box(null, 0.5rem);
        &:hover,
        &:focus {
            color: $color2;
        }
    }
}
