.top-bar {
    background-image: url(../images/template/nav.jpg);
    .top-bar-right ul {
        background: $transparent;
        li a {
            color: $color1;
            @include box(null, 0.5rem);
            &:hover,
            &:focus {
                color: $color2;
            }
        }
    }
    .top-bar-left ul {
        background: $transparent;
        li {
            @include box();
        }
    }
}

.title-bar {
    background-color: $color4;
    background-image: url(../images/template/title-bar.jpg);
    .title-bar-title,
    .menu-icon {
        color: $color2;
    }
}

#logo {
    background-image: url(../images/template/logo.svg);
    display: inline-block;
    height: 100px;
    width: 235px;
    background-repeat: no-repeat;
}
