.top-bar {
    background-color: $color4;
    .top-bar-left, .top-bar-right {
        ul {
            @extend .top-bar;
            li a {
                color: $white;
                @include box(null, 0.5rem);
                &:hover,
                &:focus {
                    color: $color3;
                }
            }
        }
    }
}

.title-bar {
    @extend .top-bar;
    .title-bar-title {
        color: $white;
    }
    .menu-icon {
        @extend .title-bar-title;
    }
}

#logo {
    background-image: url(../images/template/logo.svg);
    display: inline-block;
    height: 100px;
    width: 235px;
    background-repeat: no-repeat;
}
