/* global */
@import "../variables";

body {
    max-width: 1920px;
    @include setbox(null, null, null, auto);
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/template/body.jpg);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -999;
        background-blend-mode: screen;
        opacity: 0.25;
        background-color: rgba($color2, 0.125);
    }
}

h1 {
    font-size: inherit;
    @include box();
}

h2 {
    @include setbox(null, null, null, 1rem auto);
    color: darkShift($color1);
    background-color: rgba($white, 0.2);
    border-radius: 10px;
    font-style: oblique;
    text-shadow: 0 0 2.5px $color1;
    @include medium_and_up() {
        @include setbox(null, null, null, 50px auto);
    }
}

h3,
h4,
h5 {
    color: darkShift($color1);
}

@import "./header";

@import "./footer";